{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}

<body>
    <main>
        <h1>Tech Bubble is bursting</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Cras adipiscing enim eu turpis egestas pretium. Nunc non blandit massa enim nec dui
            nunc mattis. Est lorem ipsum dolor sit. Morbi tincidunt augue interdum velit euismod. Nibh praesent
            tristique magna sit amet purus gravida quis blandit. Vestibulum rhoncus est pellentesque elit
            ullamcorper. Feugiat vivamus at augue eget arcu. At urna condimentum mattis pellentesque. Nunc lobortis
            mattis aliquam faucibus purus. Bibendum at varius vel pharetra vel turpis nunc eget. Augue interdum
            velit euismod in pellentesque massa placerat. Lacus suspendisse faucibus interdum posuere lorem ipsum
            dolor sit. Consequat semper viverra nam libero justo. Leo urna molestie at elementum eu facilisis sed
            odio. Ut consequat semper viverra nam libero justo laoreet sit.

            Tincidunt tortor aliquam nulla facilisi cras. Pharetra magna ac placerat vestibulum. Ut ornare lectus
            sit amet est. Sed augue lacus viverra vitae congue eu. Venenatis urna cursus eget nunc scelerisque. Sed
            enim ut sem viverra. Sollicitudin nibh sit amet commodo nulla. Consequat mauris nunc congue nisi vitae
            suscipit tellus mauris a. Rhoncus urna neque viverra justo nec ultrices. Augue eget arcu dictum varius
            duis at consectetur lorem donec. Viverra orci sagittis eu volutpat. Est pellentesque elit ullamcorper
            dignissim cras tincidunt lobortis.

            Bibendum est ultricies integer quis. Nulla facilisi nullam vehicula ipsum a arcu cursus. Dignissim
            suspendisse in est ante in nibh mauris. Facilisis leo vel fringilla est ullamcorper. Maecenas volutpat
            blandit aliquam etiam erat velit. Sed risus ultricies tristique nulla aliquet enim tortor at. Congue
            nisi vitae suscipit tellus. Id volutpat lacus laoreet non curabitur gravida arcu. Eu ultrices vitae
            auctor eu. Nullam non nisi est sit amet facilisis magna. Nibh venenatis cras sed felis.

            Posuere lorem ipsum dolor sit amet consectetur. Ullamcorper eget nulla facilisi etiam dignissim diam
            quis. Condimentum lacinia quis vel eros. Sit amet est placerat in egestas. Pharetra diam sit amet nisl
            suscipit adipiscing. Consectetur adipiscing elit ut aliquam purus sit. Lectus sit amet est placerat in
            egestas erat imperdiet sed. Sit amet consectetur adipiscing elit pellentesque habitant. Mollis nunc sed
            id semper risus in hendrerit gravida rutrum. Vitae congue mauris rhoncus aenean vel elit scelerisque.
            Ultricies mi quis hendrerit dolor magna eget est lorem ipsum. Odio facilisis mauris sit amet massa
            vitae. Facilisis leo vel fringilla est. Donec ac odio tempor orci dapibus. Interdum varius sit amet
            mattis vulputate enim nulla. Lectus proin nibh nisl condimentum id venenatis. Consequat semper viverra
            nam libero justo laoreet sit amet cursus. Eu sem integer vitae justo.
        </p>
    </main>
</body>
{% endblock %}